.confirmationModal{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(39, 38, 38, 0.564);
    top: 0;
    justify-content: center;
    display: flex;
    align-items: center;

}
.confirmationModal-holder{
    min-height: 58vh;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;

    h4{
        font-size: 25px;
    }

    p{
        font-size: 11px;
        font-weight: 600;
        color: hsl(7, 20%, 60%);
        margin-bottom: 20px;
    }

    main{
        min-height: 10vh;
        max-height: 30vh;
        overflow-y: auto;
        width: 100%;
        background-color: hsl(20, 50%, 98%);
        display: flex;
        flex-direction: column;

        article{
            height: 10vh;
            min-height: 10vh;
            width: 100%;
            padding: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(237, 237, 237);

            div{
                height: 100%;
                width: 40px;
                background-color: green;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            nav{
                height: 90%;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h6{
                    font-size: 12px;
                    font-weight: 650;
                }

                section{
                    font-size: 12px;
                    display: flex;
                    gap: 12px;
                    color: hsl(14, 86%, 42%);

                    span{
                        color: hsl(7, 20%, 60%);
                    }
                }

                
            }
            h5{
                font-weight: 600;
                font-size: 13px;
            }
        }
    }

    .modal-orderTotal{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: hsl(20, 50%, 98%);
        padding-inline: 15px;

        h6{
            font-weight: 400;
        }

        h5{
            font-size: 20px;
        }
    }

    button{
        border-radius: 30px;
        height: 6.5vh;
        width: 100%;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 15px;
        cursor: pointer;
        font-size: 16px;
        background-color: hsl(14, 86%, 42%);
    }

    @media screen and (max-width:768px) {
        width: 60%;
    }

    @media screen and (max-width: 480px) {
        width: 95%;
    }
}